<ion-content class="login-content">
  <div class="login-container">

    <div class="logo-section">
      <div class="logo-circle">
        <ion-icon name="location-sharp"></ion-icon>
      </div>
      <h1>CivicApp</h1>
      <p>Bienvenido/a<br>Inicia sesión para continuar</p>
    </div>

    <div class="form-section">
      <ion-item class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          type="email"
          placeholder="Correo electrónico"
          [(ngModel)]="email"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-primary" (click)="loginEmail()">
        Iniciar sesión
      </ion-button>

      <div class="divider" *ngIf="!esNativo">
        <span>o</span>
      </div>

      <ion-button *ngIf="!esNativo" expand="block" class="btn-google" (click)="loginGoogle()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Continuar con Google
      </ion-button>

      <div class="register-link">
        <span>¿Sin cuenta?</span>
        <a (click)="goToRegister()">Regístrate aquí</a>
      </div>
    </div>

  </div>
</ion-content>